# Build Files
.dep
build
util/jlink_flashloader/FlashLoader_HT32/Output
.tmp.bin

# Editor Files
*.swp
*.kate-swp

# IDE Files
*.user
*.user.*
util/jlink_flashloader/FlashLoader_HT32/*.emSession
util/jlink_flashloader/FlashLoader_HT32/*.jlink

